appdirs
black
click
dnspython
email-validator
fastapi
flake8
h11
idna
mccabe
motor
mypy-extensions
pathspec
pycodestyle
pydantic
pyflakes
pymongo
regex
starlette
toml
typed-ast
typing-extensions
uvicorn
nodemon
morgan
cors
mongoose
vue
vuetify
axios
vue-router
vue-sweetalert2
vue-axios



